[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
validators = "*"
imageio = "*"
py-cord = {git = "git+https://github.com/Pycord-Development/pycord"}

[dev-packages]

[requires]
python_version = "3.9"
